# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
objs

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
exe
std

# Google Test
googletest/*
!googletest/Makefile
!googletest/gtest


# Reference
ref/*
!ref/make_ref.sh

# VScode settings
.vscode